/*-------------------------------------------------------------------------------------*
 *  ysk font style                                                                     *
 *-------------------------------------------------------------------------------------*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'october';
    src: url('font/october1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'october';
    src: url('font/october2.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'october';
    src: url('font/october3.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'october';
    src: url('font/october4.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}